@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Varela+Round&display=swap');

body{
  font-family: 'Varela Round', sans-serif;
}

.App {
  display: flex;
  text-align: center;
  overflow-y: hidden;
  scroll-snap-type: y mandatory;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}



.App-title{
  font-size: calc(46px + 0.5vw);
  font-weight: 400;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-section {
  background-color: #212121;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;



  scroll-snap-align: start;
  
}

.instruction-wrapper{
  justify-content:space-evenly;
  width: 50%;
  border-left: 5px dashed darkgrey;
  display: block;

}

.instruction-section{
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 80%;
  justify-content: space-around;
}

.ButtonBar{
  display: flex;
  border-bottom: 1px white solid;
  font-size: calc(1px + 2.5vw);

}

.CheckBoxField{
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 5px;
}

.ButtonBarInput{
  margin-left: 10px;
  margin-top: 5px;

  max-width: calc(20px + 2.5vw);
  font-size: calc(1px + 1vw);

  font-family: 'Varela Round', sans-serif;


  border-radius: 5px;
  padding-left: 10px;

  border: none;
  outline: none;
}

.weight-enter-area{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin: calc(10px + 1vmin);
  font-size: calc(15px + 1.5vw);

}

.WeightInput{
  border: none;
  outline: none;
  border-radius: 5px;
  padding-left: 10px;
  margin-right: 30px;
  width: calc(30px + 5vw);
  font-size: calc(1px + 2vw);
  margin-left:calc(10px + 1vmin);
  font-family: 'Varela Round', sans-serif;
 
}
.invalid{
  background-color: red;
  text-decoration: line-through;
}

.valid{
  color:white;
}

.BarArea{
  filter: drop-shadow(12px 5px 10px #555555);
  background: rgba(255, 255, 255, 0.425);
  
  border-radius: 50px;
  width: clamp(450px, 50%);
  padding: 50px;

  font-size: calc(1px + 2.5vw);
 
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40vw;
}

.tile{
  margin: 10px;
  width: calc(15px + 1vmin);
  height: calc(15px + 1vmin);

}

.Legend{
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  justify-content: center;
}

.LegendIcon{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.indexButton{

  font-size: 48px;
  font-weight: bold;
  padding: 0px;
  background-color: transparent;
  color: rgb(167, 55, 55);

  margin: 0;
}

.indexButton:focus{
  outline: none;
}

.mobile-scroll-popup{
  display: none;

}



/* ******************** mobile view ********************** */

@media (max-width: 850px) {
  /* Styles for mobile view */
  .App {
    overflow-y: scroll;
    flex-direction: column;

  }
  .instruction-wrapper{
    width: 100% !important;
    border: none;
  }

  .instruction{
    scale: 2;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    transform: perspective(1px) translateZ(0);
  }
  .instruction-section{
   height: 70%;
  }


  .ButtonBar{
    padding-top: 50px;
    font-size: 24px !important;
  }

  .ButtonBarInput{
    font-size: 18px;
    margin: 10px 0 10px 0;
    height: 20px
  } 

  .CheckBoxField{
    flex-direction: column;
  }
  .weight-enter-area{
    width: auto;
    font-size:x-large;
  }

  .WeightInput{
    width: auto;
    font-size: 20px;
  }
  
  .mobile-scroll-popup{
    display: block;
    font-size: 32px;
    font-weight: 900;
    padding-bottom: 100px;
    margin-bottom: 60px;
  }

  .App{
    overflow-y: scroll;
  }

  .BarArea{
    justify-content: normal;
    min-height: 100px;
    overflow:scroll; 
    width: 60%;
  }

}