@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Varela+Round&display=swap');
@import url('https://rsms.me/inter/inter.css');



body{
  font-family: 'Varela Round', sans-serif;
}

:root{
  --primary: #040D12;
  --secondary: #183D3D;
  --accent: #5C8374;
  --highlight:#93B1A6;


  /* --primary: #FFF8F0;
  --secondary: #424B54;
  --accent:#A6808C;
  --highlight: #A6808C; */

  --barColor: linear-gradient(180deg, rgb(74, 74, 74) 0%, rgb(74, 74, 74) 51%, rgb(15, 15, 15) 100%);
}

.App {

  display: flex;
  text-align: center;
  overflow-y: hidden;
  scroll-snap-type: y mandatory;
  height: 100svh;  
  
}



.App-title{
  font-size: calc(46px + 0.5vw);
  font-weight: 400;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-section {

  background-color: var(--primary);
  height: 100svh; 
  min-height: 100svh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: var(--highlight);
  width: 100%;

  



  scroll-snap-align:  end ;
  
}

.instruction-wrapper{
  justify-content:space-evenly;
  width: 50%;
  border-left: 5px dashed var(--secondary);
  display: block;

}

.instruction-section{
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 80%;
  justify-content: space-around;
}

.ButtonBar{
  display: flex;
  border-bottom: 10px var(--accent) ridge;
  
  font-size: calc(1px + 2.5vw);

}

.CheckBoxField{
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 5px;
}

.ButtonBarInput{
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 3px;
  padding: 3px 5px;

  /* max-width: calc(20px + 2.5vw); */
  font-size: medium;

  font-family: 'Varela Round', sans-serif;


  border-radius: 5px;
  padding-left: 10px;

  border: none;
  outline: none;

  color: var(--highlight);
  background-color: var(--secondary);
  accent-color: var(--highlight);

}


.ButtonBar [type='checkbox'] {
  height: 30px;
  width: 30px;

}

input[type=checkbox]:checked::before {
  background-color: #022836;
}

.weight-enter-area{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: calc(10px + 1vmin);
  font-size: calc(15px + 1.5vw);

  padding-left: 44px;

}

.WeightInput{
  border: none;
  outline: none;
  border-radius: 5px;
  padding-left: 10px;

  width: calc(30px + 5vw);
  font-size: calc(1px + 2vw);
  margin-left:calc(10px + 1vmin);
  font-family: 'Varela Round', sans-serif;
  color: var(--highlight);
  background-color: var(--secondary);
 
}
.invalid{
  filter: blur(5px);
  transition: 0.3s ease-out;
  text-decoration: line-through;
}

.valid{
  color:white;
}

.BarArea{
  /* box-shadow: inset 0px 5px 44px -23px var(--accent); */
  filter: drop-shadow(0px 9px 10px #000);
  background: var(--secondary);
  
  
  border-radius: 50px;
  width: clamp(450px, 50%);
  padding: 50px;

  font-size: calc(1px + 2.5vw);
 
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40vw;
}

.tile{
  margin: 10px;
  width: calc(8px + 1vmin);
  height: calc(8px + 1vmin);
  border-radius: 100px;



}

.Legend{
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  justify-content: center;

  background-color: var(--secondary);
  padding: 20px;
  border-radius: 50px;

  filter: drop-shadow(0px 9px 10px #000);
}

.LegendIcon{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

}

.indexButton{

  font-size: 48px;
  font-weight: bold;
  padding: 0px;
  background-color: transparent;
  color: rgb(167, 55, 55);

  margin: 0;
}

.indexButton:focus{
  outline: none;
}

.mobile-scroll-popup{
  display: none;

}

.helperArrow{
  transition: 0.5s;
  margin-left: 20px;
  animation: bounceLeftToRight 1s infinite;
}

.hide{
  opacity: 0;
}

@keyframes bounceLeftToRight {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-2px);
  }
}

/* ******************** mobile view ********************** */

@media (max-width: 850px) {
  /* Styles for mobile view */
  .App {
    overflow-y: scroll;
    flex-direction: column;

  }
  .instruction-wrapper{
    width: 100% ;
    border: none;
    min-height: 100%;
  }



  .Legend{
    margin: 0px 50px 0px 50px ;
  }


  .ButtonBar{
    padding-top: 20px;
    font-size: 24px !important;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .ButtonBarInput{
    font-size: 18px;
    margin: 10px 0 10px 0;
    padding: 3px 5px;
   
  } 

  .ButtonBar [type='checkbox'] {
    height: 20px;
    width: 20px;
    accent-color: var(--highlight);
  }

  .CheckBoxField{
    flex-direction: column;
  }
  .weight-enter-area{
    width: auto;
    font-size:x-large;
  }

  .WeightInput{
    width: auto;
    font-size: 20px;
  }

  
  
  .mobile-scroll-popup{
    display: block;
    font-size: 32px;
    font-weight: 900;
    /* padding-bottom: 100px;
    margin-bottom: 60px; */
  }

  .App{
    overflow-y: scroll;
  }

  .BarArea{
    justify-content: normal;
    min-height: 100px;
    overflow:hidden; 
    width: 60%;
    transform: translateZ(0); 

    /* hack to stop unrendering background */

  }



/***************************************************************/



}