
:root{
    --barColor: linear-gradient(180deg, rgb(133, 133, 133) 0%, rgb(116, 116, 116) 51%, rgb(32, 32, 32) 100%);
}

.BarGraphicArea{
 display: flex;
 justify-content: center;
 align-items:center;
 height: 100px;
}

.Bar{
    background:  var(--barColor);
    width: 400px;
    height: 8px;
    border: 1px solid rgb(36, 36, 36);
    margin: -1px;
}

.BarEdge{
    background:  var(--barColor);
    width: 4px;
    height: 20px;
    border: 1px solid rgb(36, 36, 36);
}

