
.BarGraphicArea{
 display: flex;
 justify-content: center;
 align-items:center;
 height: 100px;
}

.Bar{
    background-color: dimgray;
    width: 400px;
    height: 8px;
    border: 1px solid black;
    margin: -1px;
}

.BarEdge{
    background-color: dimgray;
    width: 4px;
    height: 20px;
    border: 1px solid black;
}

